@import "tailwindcss";

/* Sets a custom breakpoint so we can use it later with Tailwind */
@theme {
    --breakpoint-xs: 280px;
    --breakpoint-sm: 450px;
    --breakpoint-md: 675px;
    --breakpoint-lg: 768px;
    --breakpoint-xl: 1024px;
    --breakpoint-2xl: 2048px;

    --shadow-example: 0px 0px 11px rgb(255 255 255 / 46%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-caesar-dressing);
}

h1, h2, h3 {
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    line-height: normal;
    margin-bottom: 16px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 8px;
}

/* Applies base styles */
body {
    font-family: var(--font-poppins);
    line-height: 1.6;
    color: #ddd;
    background-color: #0e0e0e;
}

.text-container {
    max-width: 810px;
}

.banner-shadow {
    text-shadow: 2px 2px 15px black;
}

/* Nav Menu Styles  breakpoint to mobile 450px */
/* Apply a decorative border image with plain CSS because Tailwind doesn’t support border-image out of the box. */
@media (min-width: 450px) { 
    header {
        border-image: url('/images/meandros-pattern.webp') 30 round;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 24px;
    }
    
    p {
        font-size: 18px;
    }
}